<ion-app>
  <ion-menu side="end" menuId="mainMenu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/pokemons/home']"> <ion-icon name="home" slot="start"></ion-icon> Home</ion-item>
        <ion-item [routerLink]="['/pokemons/favorites']"><ion-icon name="bookmark" slot="start"></ion-icon> Preferiti</ion-item>
        <ion-item [routerLink]="['/pokemons/about']"><ion-icon name="information-circle" slot="start"></ion-icon> About</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
